<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Login.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="imagebox">
            <img  src="../Images-1/Ellipse 15.png" alt="">
            <img class="design" src="../Images-1//frontDesign.png" alt="">
            <img  src="../Images-1/Ellipse 14.png" alt="">
            <img  src="../Images-1/Ellipse 16.png" alt="">
        </div>
        <div class="contentBox">
            <div class="form-box">
                <h1>Welcome to name </h1>
                <p>Welcome to name</p>
                <form action="./Pannel.html">
                    <div class="form-group">
                        <p>Email</p>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <p>Password</p>
                        <input type="password" name="" id="">
                        <!-- <img src="../Images-1/Vector.png" alt=""> -->
                    </div>
                    <div class="button">
                        <input type="submit" value="login">
                        <p><a href="#">forgot password?</a>
                        </p>
                    </div>
                </form>
                <div class="logo-box">
                    <img src="../Images-1/Logo1.png" alt="">
                </div>
                <div class="create-box">
                    <p>Dont have any account?<a href="#">Register Now!</a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>