<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Pannel.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Document</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../Images-1/Logo1.png" alt="">
                </div>
                <div class="mini-logo">
                    <img src="../Images-1/MiniLogo.png" alt="">
                </div>
            </div>
            <div class="sidebar">
                <a href="#" class="active"><img src="../Images-2/bg.png" alt="">
                    <h3>Basic</h3>
                    <!-- <button><img src="../Images-2//top-b.png" alt=""></button> -->
                </a>
                <a href="#" class="not-active"><img src="../Images-2/people.png" alt="">
                    <h3>Students</h3>
                </a>
            <div class="bottom-sec">
                <div class="img-b">
                <img src="../Images-2/profile.png" alt="">
                    <h3>Name</h3>
                </div>
                <!-- </a> -->
                <div class="button">
                    <a href="#">Logout</a>
                </div>
                </div>
            </div>
        </aside>
        <main>
            <h2>Students</h2>
            <h3>Home > Students > List</h3>
            <div class="filtered">
                <p>filter by:</p>
                <div class="form-group">
                    <form action="">
                        <input type="text" placeholder="Search...">
                    </form>
                </div>
                <div class="status">
                    <!-- <input type="text" value="All status">
                    <img src="../Images-2//up-btn.png" alt="">
                    <img src="../Images-2/down.png" alt=""> -->
                    <select name="cars" id="cars">
                        <option value="volvo">All status</option>
                      </select>
                </div>
            </div>
            <div class="main-section">
            <div class="main-table">
                <div class="reset-btn">
                    <img src="../Images-2//reset.png" alt="">
                    <h3>Reset</h3>
                </div>
                <div class="right-section">
                    <h3>Show</h3>
                    <select name="cars" id="cars">
                        <option value="10">All status</option>
                      </select>
                      <h3>Entries</h3>
                </div>
            </div>
            <div class="main-table-details">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name<img src="../Images-2/drop-up.png" alt=""><img src="../Images-2/drop-down.png" alt=""></th>
                            <th>Mobile<img src="../Images-2/drop-up.png" alt=""><img src="../Images-2/drop-down.png" alt=""></th>
                            <th>Updated<img src="../Images-2/drop-up.png" alt=""><img src="../Images-2/drop-down.png" alt=""></th>
                            <th>Status<img src="../Images-2/drop-up.png" alt=""><img src="../Images-2/drop-down.png" alt=""></th>
                            <th>Action<img src="../Images-2/drop-up.png" alt=""><img src="../Images-2/drop-down.png" alt=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><div class="nn">NN</div><h5>Name Name</h5><br/><span>name.name@gmail.com</span></td>
                            <td><h6>584 6125 865</h6></td>
                            <td><h6>24th Dec 2022 05:53 PM</h6></td>
                            <td><a href="#">Status</a></td>
                            <td><div class="img"><img src="../Images-1/Vector.png" alt=""></div></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><div class="nn">NN</div><h5>Name Name</h5><br/><span>name.name@gmail.com</span></td>
                            <td><h6>584 6125 865</h6></td>
                            <td><h6>24th Dec 2022 05:53 PM</h6></td>
                            <td><a href="#">Status</a></td>
                            <td><div class="img"><img src="../Images-1/Vector.png" alt=""></div></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><div class="nn">NN</div><h5>Name Name</h5><br/><span>name.name@gmail.com</span></td>
                            <td><h6>584 6125 865</h6></td>
                            <td><h6>24th Dec 2022 05:53 PM</h6></td>
                            <td><a href="#">Status</a></td>
                            <td><div class="img"><img src="../Images-1/Vector.png" alt=""></div></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><div class="nn">NN</div><h5>Name Name</h5><br/><span>name.name@gmail.com</span></td>
                            <td><h6>584 6125 865</h6></td>
                            <td><h6>24th Dec 2022 05:53 PM</h6></td>
                            <td><a href="#">Status</a></td>
                            <td><div class="img"><img src="../Images-1/Vector.png" alt=""></div></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><div class="nn">NN</div><h5>Name Name</h5><br/><span>name.name@gmail.com</span></td>
                            <td><h6>584 6125 865</h6></td>
                            <td><h6>24th Dec 2022 05:53 PM</h6></td>
                            <td><a href="#">Status</a></td>
                            <td><div class="img"><img src="../Images-1/Vector.png" alt=""></div></td>
                        </tr>
                    </tbody>
                </table>
                <div class="navigate">
                    <div class="navigate-left-side">
                        <img src="../Images-2//left-arrow.png" alt="">
                        <h1>1</h2>
                        <img src="../Images-2/right-arrow.png" alt="">
                    </div>
                    <div class="navigate-right-side">
                        <h1>1 of 2</h1>
                        <img src="../Images-2/right-arrow.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        </main>
    </div>
</body>
</html>